@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Upload Demo</h2>
        <p>This application demonstrates one approach to uploading files using ASP.NET Core.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" data-form-uploader>
            <div class="form-group">
                <label for="file">Select file:</label>
                <input type="file" id="file" name="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
    <div class="col-md-6">

    </div>
</div>


